{% extends "layouts/default.html" %}
{% block main %}
  <h1 class="mb-6 text-3xl">Model Config & Inference</h1>
  <h2 class="mb-6 text-2xl">Model Configuration</h2>
  <form method="post" class="mb-6">
    {% csrf_token %}
    <div class="mb-4">
      <label for="file_id" class="block text-sm font-medium text-gray-700">Select CSV File</label>
      <select id="file_id"
              name="file_id"
              class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        {% for file in csv_files %}
          <option value="{{ file.id }}">{{ file.file_name }} ({{ file.created_at|date:"Y-m-d H:i" }})</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-4">
      <label for="model_type" class="block text-sm font-medium text-gray-700">Select Model Type</label>
      <select id="model_type"
              name="model_type"
              class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        <option value="bayesian_mmm" selected>Bayesian MMM</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Run Model</button>
  </form>
  {% if mmm_exists %}
    <h2 class="mb-6 text-2xl">Model Results</h2>
    <div id="results-container" class="grid grid-cols-1 gap-4">
      <!-- trace plot -->
      <div class="mb-5">
        <h3 class="text-xl mb-2">Trace Plot</h3>
        {% if trace_plot_url %}
          <img src="{{ trace_plot_url }}"
               alt="Trace Plot"
               class="w-full"
               height="400"
               width="400">
        {% else %}
          <p>No trace plot available.</p>
        {% endif %}
      </div>
      <!-- parameter posteriors plot -->
      <div class="mb-5">
        <h3 class="text-xl mb-2">Parameter Posteriors Plot</h3>
        {% if parameter_posteriors_plot_url %}
          <img src="{{ parameter_posteriors_plot_url }}"
               alt="Parameter Posteriors Plot"
               class="w-full"
               height="400"
               width="400">
        {% else %}
          <p>No parameter posteriors plot available.</p>
        {% endif %}
      </div>
      <!-- accuracy metrics -->
      <div class="mb-5">
        <h3 class="text-xl mb-2">Model Accuracy Metrics</h3>
        {% if mmm_accuracy_metrics %}
        <div class="relative overflow-x-auto">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                <th scope="col" class="px-6 py-3">
                  Metric
                </th>
                <th scope="col" class="px-6 py-3">
                  Value
                </th>
              </tr>
            </thead>
            <tbody>
              {% for metric, value in mmm_accuracy_metrics.items %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ metric|title }}
                  </th>
                  <td class="px-6 py-4">
                    {{ value }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
          <p>No accuracy metrics available.</p>
        {% endif %}
      </div>
      <!-- y posterior predictive plot -->
      <div class="mb-5">
        <h3 class="text-xl mb-2">Y Posterior Predictive Plot</h3>
        {% if y_posterior_predictive_plot_url %}
          <img src="{{ y_posterior_predictive_plot_url }}"
               alt="Y Posterior Predictive Plot"
               class="w-full"
               height="400"
               width="400">
        {% else %}
          <p>No y posterior predictive plot available.</p>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock main %}
