{% extends "layouts/default.html" %}
{% block main %}
  <h1 class="mb-6 text-3xl">Preview Your Data</h1>
  <h2 class="mb-6 text-2xl">
    {{ csv_file.file_name }}
  </h2>
  <p class="mb-6 text-lg">
    Here is a preview of your data. You can download the full file <a class="link link-hover link-secondary" href="{% url 'mmm:serve_csv' csv_file.id %}">here</a>.
  </p>
  <div id="charts-container" class="grid grid-cols-2 gap-4">
    {% for chart in charts_data %}
      <div class="h-[400px] mb-5">
        <c-line-chart 
          chart_id="{{ chart.chart_id }}"  
          :index="chart.index" 
          :series="chart.series" 
          :series_labels="chart.series_labels"
          :series_axes="chart.series_axes"
          x_label="{{ x_label }}"
          y_label_left="{{ chart.y_label_left }}"
          y_label_right="{{ chart.y_label_right }}"
          y_unit_left="{{ chart.y_unit_left }}"
          y_unit_right="{{ chart.y_unit_right }}"
          :colors="['rgb(50, 220, 160)', 'rgb(255, 99, 132)']"
        />
      </div>
    {% endfor %}
  </div>
{% endblock main %}