{% extends "layouts/default.html" %}
{% block main %}
  <h1 class="mb-6 text-3xl">Preview Your Data</h1>
  <h2 class="mb-6 text-2xl">
    {{ csv_file.file_name }}
  </h2>
  <p class="mb-6 text-lg">
    Here is a preview of your data. You can download the full file <a class="link link-hover link-secondary" href="{% url 'mmm:serve_csv' csv_file.id %}">here</a>.
  </p>
  <p>
    sales.data: {{ sales_data }}
  </p>
  <div id="charts-container" class="grid grid-cols-2 gap-4">
    <div class="h-[400px] mb-5">
      <c-line-chart 
        chart_id="{{ chart_id }}"  
        :index="index" 
        :series="series" 
        :series_labels="series_labels"
        :series_axes="['y_left', 'y_left']"
        x_label="{{ x_label }}"
        y_label_left="{{ y_label }}"
        y_label_right="{{ y_label }}"
        y_unit_left="{{ y_unit }}"
        y_unit_right="{{ y_unit }}"
        :colors="['rgb(75, 192, 192)', 'rgb(255, 99, 132)']"
      />
    </div>
    {% comment %} {% for predictor in predictors %}
      <div class="h-[400px] mb-5">
        <c-line-chart 
          chart_id="chart-{{ forloop.counter }}"  
          :index="{{ index_data|safe }}" 
          :series="[{{ sales_data|safe }}, {{ predictor.data|safe }}]" 
          :series_labels="['{{ sales_label }}', '{{ predictor.label }}']"
          :series_axes="['y_left', 'y_left']"
          x_label="{{ index_label }}"
          y_label_left="Money"
          y_unit_left="€"
          :colors="['rgb(75, 192, 192)', 'rgb(255, 99, 132)']"
        />
      </div>
    {% endfor %} {% endcomment %}
  </div>
{% endblock main %}