{% extends "layouts/default.html" %}
{% block main %}
  <h1 class="mb-6 text-3xl">Test the Chart Component</h1>
  <h2 class="mb-6 text-2xl">
    {{ csv_file.file_name }}
  </h2>
  <p class="mb-6 text-lg">
    Here is a preview of your data. You can download the full file <a class="link link-hover link-secondary" href="{% url 'mmm:serve_csv' csv_file.id %}">here</a>.
  </p>

  <div id="charts-container" class="grid grid-cols-2 gap-4">
    <c-line-chart 
      chart_id="page_load_chart"  
      :index="index" 
      :series="series" 
      :series_labels="series_labels"
      x_label="{{ x_label }}"
      y_label="{{ y_label }}"
      y_unit="{{ y_unit }}"
      :colors="['rgb(75, 192, 192)', 'rgb(255, 99, 132)']"
      class="w-full h-64 md:h-96"
    />
  </div>

  <div id="ajax-chart-container" class="grid grid-cols-2 gap-4">
    <!-- HTMX Button -->
    <button class="btn btn-primary mx-1"
    hx-get="{% url 'mmm:test_chart' %}"
    hx-trigger="click"
    hx-swap="outerHTML">Click to get chart</button>
  </div>

  <div id="ajax-chart-container-2" class="grid grid-cols-2 gap-4">
    <!-- HTMX Button -->
    <button class="btn btn-primary mx-1"
    hx-get="{% url 'mmm:test_chart' %}"
    hx-trigger="click"
    hx-swap="outerHTML">Click to get chart</button>
  </div>

{% endblock main %}