{% load custom_filters %}

<c-vars 
  :index="[]"
  :series="[]"
  :series_labels="[]"
  chart_id="myChart"
  chart_title=""
  x_label=""
  y_label=""
  x_unit=""
  y_unit=""
  :colors="['rgb(75, 192, 192)']"
/>

<canvas id="{{ chart_id }}"></canvas>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var ctx = document.getElementById('{{ chart_id }}').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ index|safe }},
                datasets: [
                    {% for serie in series %}
                    {
                        label: '{{ series_labels|get_item:forloop.counter0 }}',
                        data: {{ serie|safe }},
                        borderColor: '{{ colors|get_item:forloop.counter0 }}',
                        tension: 0.1
                    }{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ]
            },
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: '{{ chart_title }}'
                    }
                },
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: '{{ x_label }}{% if x_unit %} ({{ x_unit }}){% endif %}'
                        }
                    },
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: '{{ y_label }}{% if y_unit %} ({{ y_unit }}){% endif %}'
                        }
                    }
                }
            }
        });
    });
</script>