{% load custom_filters %}
{% comment %} Set default values for the Cotton component {% endcomment %}
<c-vars 
    :index="[]" 
    :series="[]" 
    :series_labels="[]" 
    chart_id="myChart" 
    chart_title="" 
    x_label="" 
    y_label="" 
    x_unit="" 
    y_unit="" 
    colors="['rgb(75, 192, 192)']" 
/>

<div x-data="lineChart(
        '{{ chart_id }}', 
        {{ index|safe }}, 
        {{ series|safe }}, 
        {{ series_labels|safe }}, 
        '{{ chart_title }}', 
        '{{ x_label }}', 
        '{{ y_label }}', 
        '{{ x_unit }}', 
        '{{ y_unit }}', 
        {{ colors|safe }})"
     x-init="initChart">
    <canvas id="{{ chart_id }}"></canvas>
</div>

<script>
  document.addEventListener('alpine:init', () => {
    Alpine.data('lineChart', (chartId, index, series, seriesLabels, chartTitle, xLabel, yLabel, xUnit, yUnit, colors) => ({
      chartId,
      chart: null,
  
      createChartIfNotExists() {
        // nextTick is used to ensure that the chart is created after the DOM is fully rendered
        this.$nextTick(() => {
            if (!this.chart) {
                const ctx = document.getElementById(this.chartId).getContext('2d');
                this.chart = new Chart(ctx, this.getChartConfig());
              }
        });
      },
  
      getChartConfig() {
        return {
          type: 'line',
          data: {
            labels: index,
            datasets: series.map((data, i) => ({
              label: seriesLabels[i],
              data: data,
              borderColor: colors[i],
              tension: 0.1
            }))
          },
          options: {
            responsive: true,
            plugins: {
              title: {
                display: true,
                text: chartTitle
              }
            },
            scales: {
              x: {
                title: {
                  display: true,
                  text: `${xLabel}${xUnit ? ` (${xUnit})` : ''}`
                }
              },
              y: {
                beginAtZero: true,
                title: {
                  display: true,
                  text: `${yLabel}${yUnit ? ` (${yUnit})` : ''}`
                }
              }
            }
          }
        };
      }
    }));
  });
</script>
